.Adu{
    width: 100%;
    overflow: hidden;
}
.aduList ul{
    padding: 0% 5%;
}
.aduList ul li{
    padding: 0;
    margin: 4% 0;
}
#adubtn{
    margin: 0 auto;
}

@media screen and (min-width:1740px) {

    #adulefttxt{
        margin-left: -13%;
    }
    #aduleftimg{
        width: 150%;
    }
}
