#aboutBanner{
    height:330px;
}
#abL{
    margin-top:0px;
    margin-bottom: 5px;
}
#sR{
    margin-top: 0px;
    margin-bottom: 0px;
}
.aboutRight{
    margin-top: 0px;
}
.aboutLeft img{
    width:180%;
}
.aboutLeft div{
    margin-top: 60px;
}
.aboutLeft div li{
    line-height: 30px;
}
.aboutRight img{
    
    width:180%;
}
.aboutLeft div{
    margin-top: 60px;
}
@media screen and (min-width:1740px) {
/*     #abL{
        margin-top:90px;
        margin-bottom: 5px;
    } */
    #sR .sSectTxt .body{
        line-height: 33px;
    }
    #abL .sSectTxt .body{
        line-height: 35px;
    }
    #aboutBanner{
        height:480px;
    }
    .aboutRight img{
    
        width:fit-content;
    }
    #aright1{
        margin-top:-200px;
        width: 140%;
    }
    #aright2{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .aboutLeft img{
        width:100%;
        margin-left: 52%;
        margin-right:0;
    }
}
@media screen and (max-width:480px) {
    .aboutLeft img{
        width:50%;
    }
    #aleft1{
        margin-left: 0%;
        width:100%;
    }
    #aright1{
        display:none;
    }
    #aright2{
        margin-top:10%;
        width:100%;
        display:none;
    }
}