
.Testimony .sSect1 .testimony{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    row-gap: 18px;

}
.testimony .testiTxt{
    width: 90%;
    text-align: center;
    margin: 10px 4.7%;

}
.testimony .testiTxt img{
    margin: 15px 0;

}
.testimony .testiPack{
    background: #D9D9D9;
    border-radius: 25px;
    text-align: center;
}
.testiUser{
  margin-top: -4%;
}
.testiUser img{
    width: 15%;
}

@media screen and (max-width:480px) {
    .Testimony .sSect1 .testimony{
        display: grid;
        grid-template-columns: 1fr;
        gap: 4%;
        row-gap: 18px;
    
    }
}